* {
	color: #FFFFFF;
}

body {
	background-color: #000000;
}

h1 {
	letter-spacing: 5px;
	font-size: 500%;
	font-weight: 600;
	line-height: 150%;
}

h2 {
	letter-spacing: 5px;
	font-size: 400%;
	font-weight: 600;
	line-height: 150%;
}

#fire-button {
	margin-top: 20px;
	color: #FFFFFF;
	background-color: #EF4836;
	border: none;
}

#fire-button:active {
	background-color: #BC392A;
}

.input-group .form-control, .form-control:focus {
	outline: 0;
	border-color: #CCCCCC;
	text-align: right;
	box-shadow: none;
	transition: none;
  -webkit-box-shadow: none;
	-webkit-transition: none;
  -moz-box-shadow: none;
  -moz-transition: none;
}

.input-group .form-button {
	text-align: right;
	background-color: #EF4836;
	border-color: #EF4836;
	color: #FFFFFF;
}

.input-group .form-button:active {
	background-color: #BC392A;
}

.progress {
	margin: 0 auto;
	width: 30em;
}

.progress-bar {
	background-color: #EF4836;
  transition: none;
	-webkit-transition: none;
	-moz-transition: none;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
